:root {
  --black-100: #0d0d0d;   /* deepest black */
  --black-90:  #111111;   /* charcoal black */
  --black-80:  #121212;   /* soft UI black (great for backgrounds) */
  --black-70:  #1a1a1a;   /* slate black */
  --black-60:  #2a2a2a;   /* gunmetal / dark gray */
  --almost-white: #FFFAFA;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Nav bar at top of page */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 20px;
  background-color: #000;
  color: var(--almost-white);
  width: 100%;
}
    
.logo {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}


.title {
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 10px;
  cursor: pointer;
  color: var(--almost-white);
}

.burger span {
  height: 2px;
  background: var(--almost-white);
  border-radius: 2px;
}
.banner {
  opacity: 0;
      transform: translateY(100px);
      animation: slideFadeIn 1s ease-out forwards;
}
@keyframes slideFadeIn {
      to {
        opacity: 1;
        transform: translateY(0);
      }
}
    
.banner {
  padding: 12px 24px;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  color: var(--almost-white);
}
.subbanner {
  font-size: 20px;
  color: var(--almost-white);
  text-align: center;
}

body {
    margin: 0;
    padding-top: 300px; /* offset to prevent content from being hidden */
    font-family: 'Nunito', sans-serif;
    background-color: var(--black-80);/*slate black*/
}

    .content {
      height: 2000px; /* just to demonstrate scrolling */
    }
    
    
    
    
    
/* Navigation menu */
.nav-menu {
  position: fixed;
  top: 20;
  left: 0;
  width: 100%;
  display: none;
  background-color: #000;
  padding: 20px;
  border-radius: 8px;
}

.nav-menu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

/* Show menu */
.nav-menu.show {
  display: block;
}