:root {
  --black-100: #0d0d0d;   /* deepest black */
  --black-90:  #111111;   /* charcoal black */
  --black-80:  #121212;   /* soft UI black (great for backgrounds) */
  --black-70:  #1a1a1a;   /* slate black */
  --black-60:  #2a2a2a;   /* gunmetal / dark gray */
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Nav bar at top of page */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 20px;
  background-color: #000;
  color: white;
  width: 100%;
}
    
.logo {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}


.title {
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 10px;
  cursor: pointer;
  color: white;
}

.burger span {
  height: 2px;
  background: white;
  border-radius: 2px;
}
    
.banner {
      background-color: #2a4730; /* Subtle green tint */
      color: #d1ffd6; /* Light green text */
      padding: 12px 24px;
      border-radius: 12px;
      font-size: 16px;
      font-weight: 500;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      text-align: center;
    }

body {
    margin: 0;
    padding-top: 150px; /* offset to prevent content from being hidden */
    font-family: 'Nunito', sans-serif;
    background-color: var(--black-80);/*slate black*/
}

    .content {
      height: 2000px; /* just to demonstrate scrolling */
    }