.topnav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      background-color: #000;
      color: white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      z-index: 1000;
    padding: 20px;
    }

    body {
      margin: 0;
      padding-top: 100px; /* offset to prevent content from being hidden */
    }

    .content {
      height: 2000px; /* just to demonstrate scrolling */
      background: linear-gradient(#eee, #ccc);
    }